@page "/quiz"
@using System.Collections.Generic

<h3>Přidání nové otázky do kvízu</h3>

@if (IsEditMode)
{
    <div class="form-group">
        <label>Zadejte otázku:</label>
        <input type="text" @bind="NewQuestion.Question" class="form-control" />

        @for (var i = 0; i < NewQuestion.Answers.Count; i++)
        {
            var index = i;
            <div class="input-group mb-3">
                <label>@($"Odpověď {i + 1}:")</label>
                <input type="text" value="@NewQuestion.Answers[index]" @onchange="(e) => UpdateAnswer(e, index)" class="form-control" placeholder="Odpověď @(index + 1)" />
                @if (i > 1)
                {
                    <div class="input-group-append">
                        <button class="btn btn-danger" @onclick="() => RemoveAnswer(index)">Odstranit</button>
                    </div>
                }
            </div>
        }

        <button @onclick="AddAnswer" class="btn btn-success mb-3">Přidat odpověď</button>

        <label>Správná odpověď:</label>
        <select @bind="NewQuestion.CorrectAnswerIndex" class="form-control">
            @for (var i = 0; i < NewQuestion.Answers.Count; i++)
            {
                <option value="@i">Odpověď @(i + 1)</option>
            }
        </select>

        <button @onclick="AddQuestion" class="btn btn-primary mt-2">Přidat otázku</button>
    </div>
}

<button @onclick="ToggleEditMode" class="btn btn-secondary mt-2">@((IsEditMode) ? "Ukončit úpravy" : "Přidání otázek")</button>

<h3>Seznam otázek</h3>

@foreach (var question in Questions)
{
    <div class="box-quiz">
        @if (IsEditMode)
        {
            <button class="btn btn-danger" @onclick="()=>Smazat(question)">
                Smazat
            </button>
        }
        <p>@question.Question</p>
        @for (int i = 0; i < question.Answers.Count; i++)
        {
            <div>
               
                <input disabled="@ShowResults" type="radio" value="@i" name="@question.Question" @onchange="(e) => SelectAnswer(question, e)" /> @question.Answers[i]
            </div>
        }
    </div>
}

<button @onclick="EvaluateQuiz" class="btn btn-primary mt-2">Vyhodnotit</button>
<div id="znovu" onclick="location.reload()"></div>  @* reload pro resetnutí stránky přes JS proto nedávam zavináč *@


@if (ShowResults)
{
    <h3>Výsledky</h3>
    @foreach (var result in Results)
    {
        <div>

            <p>@result.Question.Question - @(result.IsCorrect ? "Správně" : "Špatně")</p>
        </div>
    }
}